<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%= (title ? title + ' | ' : '') + config.title %></title>
  <link href="/styles/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header class="header">
    <a class="header__title" href="/"><%= config.title %></a>
    <nav class="header__nav">
      <ul>
        <% for (let i in config.menu) { %>
          <li><a href="<%- config.menu[i].url %>"><%= config.menu[i].title %></a></li>
        <% } %>
      </ul>
    </nav>
    <% if (!error) { %>
      <nav class="header__nav-tree">
        <span class="branch">
          <select class="branch__select" name="branch__select">
            <% branches.forEach((value, i) => { %>
              <option value="<%= value %>" <%= value === branch ? 'selected' : '' %>>
                <%= value %>
              </option> 
            <% }); %>
          </select>
        </span>
        <span class="breadcrumbs">
          <% breadcrumbs.forEach((file, i) => { %>
            <span class="breadcrumbs__item <%= file.type === 'blob' ? 'breadcrumbs__item--close' : '' %>">
              <% if (i < breadcrumbs.length - 1) { %>
                <a href="/<%= `${file.type}/${branch}/${file.filepath}` %>"><%= file.base %></a>
              <% } else { %>
                <span><%= file.base %></span>
              <% } %>
            </span>
          <% }) %>
        </span>
      </nav>
    <% } %>
  </header>
  <main class="content">
